path.arc {
  cursor: move;
  fill: #fff;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font-size: 10px;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*body {
  background: rgba(30,30,30,1.00);
}*/